<p id="notice"><%= notice %></p>

<h1>Anchors</h1>

<table>
  <thead>
    <tr>
      <th>Number of bolts</th>
      <th>Chain type</th>
      <th>Bolt type</th>
      <th>Year placed</th>
      <th>Climbing route</th>
      <th>Pitch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anchors.each do |anchor| %>
      <tr>
        <td><%= anchor.number_of_bolts %></td>
        <td><%= anchor.chain_type %></td>
        <td><%= anchor.bolt_type %></td>
        <td><%= anchor.year_placed %></td>
        <td><%= anchor.climbing_route %></td>
        <td><%= anchor.pitch %></td>
        <td><%= link_to 'Show', anchor %></td>
        <td><%= link_to 'Edit', edit_anchor_path(anchor) %></td>
        <td><%= link_to 'Destroy', anchor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anchor', new_anchor_path %>
