<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @area.location %>
</p>

<p>
  <strong>Year established:</strong>
  <%= @area.year_established %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
