<p id="notice"><%= notice %></p>
<h1><%= @climbing_route.name %></h1>
<p>
  <strong>Area:</strong>
  <%= @climbing_route.area.name %>
</p>

<p>
  <strong>Protection type:</strong>
  <%= @climbing_route.protection_type %>
</p>

<p>
  <strong>Pitches:</strong>
  <%= @climbing_route.pitches %>
</p>

<% if @climbing_route.bolts.present? %>
<h1>Bolts</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Bolt type</th>
      <th>Year placed</th>
      <th>Pitch</th>
      <th colspan="1"></th>
      <th>Flag as a problem</th>
    </tr>
  </thead>

  <tbody>
    <% @climbing_route.bolts.each do |bolt| %>
      <tr>
        <td><%= bolt.number %></td>
        <td><%= bolt.bolt_type %></td>
        <td><%= bolt.year_placed %></td>
        <td><%= bolt.pitch %></td>
        <td><%= link_to 'Destroy', bolt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><input type="checkbox"/></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= form_tag( {:controller => 'climbing_routes', :action => 'create_bolts'}, :method => 'post' ) do |f| %>
    <%= number_field_tag("Number of Bolts") %>
    <%= text_field_tag("type of bolts used") %>
    <%= text_field_tag("year placed", DateTime.now.year) %>
    <%= hidden_field("climbing route", @climbing_route.id) %>
  <%= submit_tag('generate bolts') %>
<% end %>
<% end %>
